
/* General aspects */
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
   
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a2238;
    
}

h1 {
   
    margin-left: 20px;
    background-color: #f8501c;
    border-radius: 400px;
    border: 7px solid #f8501c;
    
}

a{
    text-decoration: none;  
    color: #1a2238;
    font-weight: 600;
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 100px ;   
}

ul li{
    list-style: none;
    display: inline-block; 
    padding: 10px 20px;   
}

nav ul li a{
    color: #f8501c;
    font-weight: 700;
    transition: transform 250ms;
 }
 
 nav ul li a:hover{
     color:#fff;
     transform: translateY(-5px) ; 
 }

 .button{
     color: #9daaf2;
     font-weight: 500px;
     border-radius: 400px;
     background-color:#f8501c;
     border: 6px solid #f8501c;
     display: inline-flex;

 }

.home{
    background-image: url(../assets/images/img.jpg);
    padding: 100px; 
    display: flex;
    background-size: cover;
    background-position: center;
   
}

.home span{
    color: #9daaf2;
    text-shadow:3px 3px 1px #1a2238;

}

#banner{
    font-size: 2em;
    font-weight: 900;
    line-height: 50px; 
    position: relative;  
}

/* Main Body */

/* About Me Section */
.about-me{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 30px;
}

.about-me p {
    padding: 0 30px;
    line-height: 1,6;
    width: 90%;
}
.subtittle{
    border-right:5px solid #f8501c;
    text-align: right;
    padding-right: 40px;
    min-width: 20%;
    max-width: 20%;
}
.subtittle h2{
    font-size: 48px;
    color: #1a2238;
}

/* Work Section */

.work{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
.work {
    margin-top: 45px;
    padding-top: 30px 0;
    }

.my-work-bigbox{
    display: flex;
    justify-content: center;
    width:80%;
    height: 500px;
    
}

.my-work-smallbox{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    width: 70%;
    gap: 10px;
}

.Project{
   display: flex; 
   border:  2px solid #f8501c;
   background-size: cover;
   background-position: center;
   opacity: 0.7 ;
   transition: transform 250ms;
}
.Project:hover {
    opacity: 1.0;
    transform: translateY(-2px)
}

.Snippet{
    background-image: url(./images/CSS\ SNIP.png);
    background-position: center top;
    grid-column: 1/ span 2;
    grid-row: span 2;
    
}

.Website{
    background-image: url(./images/Aboutme.png);
    background-position: center top;
}
.Node{
background-image: url(./images/Node.png);

}

.React{
background-image: url(./images/React.png);
}

.Stack{
background-image: url(./images/MERN.png);
}


















@media screen and (max-width: 765px){
    header{
        flex-direction: column;
        
    }

    h1{margin-top: 10px;
        margin-left: 10px;
    }

    #banner {
        margin-right: 100px;
    }
    .subtittle h2{
        font-size: 32px;
            }
    
}